@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-primary: #E6C79C;
    --color-secondary: #e84930;
    --color-tertiary: #34e892;
    --text-color: #333;
}